In [16]:
from google.colab import files
uploaded  = files.upload()

MessageError: ignored

In [0]:
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['Churn_Modelling.csv']))

In [18]:
df.head(10)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0
5          6    15574012       Chu  ...               0       149756.71      1
6          7    15592531  Bartlett  ...               1        10062.80      0
7          8    15656148    Obinna  ...               0       119346.88      1
8          9    15792365        He  ...               1        74940.50      0
9         10    15592389        H?  ...               1        71725.73      0

[10 rows x 14 columns]

In [0]:
import numpy as np

# Importing the dataset
X = df.iloc[:, 3:13]
y = df.iloc[:, 13]

In [49]:
X.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [0]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer


ct = ColumnTransformer([('Geography', OneHotEncoder(), [1] )], 
                       remainder = 'passthrough')

X = ct.fit_transform(X)
labelencoder_X_2 = LabelEncoder()
X[:, 4] = labelencoder_X_2.fit_transform(X[:, 4])

X = X[:,1:]

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [53]:
X_train.shape

(8000, 11)

In [54]:
y_train.shape

(8000,)

In [58]:
from keras.models import Sequential
from keras.layers import Dense

classifier = Sequential()

classifier.add(Dense(units = 6, activation = 'relu', input_dim=11))
classifier.add(Dense(units = 6, activation = 'relu'))
classifier.add(Dense(units = 1, activation = 'sigmoid'))

classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', 
                   metrics = ['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [59]:
classifier.fit(X_train, y_train, batch_size = 10, epochs =100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/100
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

8000/8000 [==============================] - 2s 218us/step - loss: 0.5727 - acc: 0.7159
Epoch 2/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4252 - acc: 0.8249
Epoch 3/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3804 - acc: 0.8455
Epoch 4/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3634 - acc: 0.8501
Epoch 5/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3550 - acc: 0.8537
Epoch 6/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3505 - acc: 0.8565
Epoch 7/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3469 - acc: 0.8572
Epoch 8/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3441 - acc: 0.8596
Epoch 9/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3411 - acc: 0.8615
Epoch 10/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3397 - acc: 0.8621
Epoch 11/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3375 - acc: 0.8625
Epoch 12/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3369 - acc: 0.8626
Epoch 13/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3358 - acc: 0.8632
Epoch 14/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3352 - acc: 0.8640
Epoch 15/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3345 - acc: 0.8637
Epoch 16/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3337 - acc: 0.8640
Epoch 17/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3331 - acc: 0.8651
Epoch 18/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3330 - acc: 0.8657
Epoch 19/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3326 - acc: 0.8641
Epoch 20/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3319 - acc: 0.8637
Epoch 21/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3315 - acc: 0.8654
Epoch 22/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3309 - acc: 0.8651
Epoch 23/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3305 - acc: 0.8649
Epoch 24/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3302 - acc: 0.8645
Epoch 25/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3300 - acc: 0.8660
Epoch 26/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3298 - acc: 0.8659
Epoch 27/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3297 - acc: 0.8669
Epoch 28/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3291 - acc: 0.8652
Epoch 29/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3292 - acc: 0.8671
Epoch 30/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3289 - acc: 0.8662
Epoch 31/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3282 - acc: 0.8667
Epoch 32/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3285 - acc: 0.8677
Epoch 33/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3284 - acc: 0.8650
Epoch 34/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3284 - acc: 0.8656
Epoch 35/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3277 - acc: 0.8650
Epoch 36/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3280 - acc: 0.8666
Epoch 37/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3273 - acc: 0.8657
Epoch 38/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3276 - acc: 0.8664
Epoch 39/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3269 - acc: 0.8661
Epoch 40/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3269 - acc: 0.8682
Epoch 41/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3271 - acc: 0.8650
Epoch 42/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3274 - acc: 0.8670
Epoch 43/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3269 - acc: 0.8671
Epoch 44/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3264 - acc: 0.8652
Epoch 45/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3267 - acc: 0.8659
Epoch 46/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3270 - acc: 0.8667
Epoch 47/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3262 - acc: 0.8665
Epoch 48/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3261 - acc: 0.8664
Epoch 49/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3262 - acc: 0.8667
Epoch 50/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3262 - acc: 0.8672
Epoch 51/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3259 - acc: 0.8662
Epoch 52/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3255 - acc: 0.8667
Epoch 53/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3261 - acc: 0.8659
Epoch 54/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3258 - acc: 0.8666
Epoch 55/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3257 - acc: 0.8651
Epoch 56/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3255 - acc: 0.8677
Epoch 57/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3253 - acc: 0.8669
Epoch 58/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3251 - acc: 0.8660
Epoch 59/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3251 - acc: 0.8680
Epoch 60/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3253 - acc: 0.8662
Epoch 61/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3248 - acc: 0.8689
Epoch 62/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3248 - acc: 0.8672
Epoch 63/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3247 - acc: 0.8665
Epoch 64/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3247 - acc: 0.8684
Epoch 65/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3245 - acc: 0.8669
Epoch 66/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3248 - acc: 0.8677
Epoch 67/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3241 - acc: 0.8669
Epoch 68/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3247 - acc: 0.8692
Epoch 69/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3243 - acc: 0.8667
Epoch 70/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3243 - acc: 0.8679
Epoch 71/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3243 - acc: 0.8681
Epoch 72/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3241 - acc: 0.8686
Epoch 73/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3245 - acc: 0.8657
Epoch 74/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3237 - acc: 0.8691
Epoch 75/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3243 - acc: 0.8665
Epoch 76/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3243 - acc: 0.8669
Epoch 77/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3240 - acc: 0.8667
Epoch 78/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3241 - acc: 0.8689
Epoch 79/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3238 - acc: 0.8672
Epoch 80/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3240 - acc: 0.8675
Epoch 81/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3235 - acc: 0.8686
Epoch 82/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3241 - acc: 0.8670
Epoch 83/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3239 - acc: 0.8664
Epoch 84/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3235 - acc: 0.8670
Epoch 85/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3233 - acc: 0.8682
Epoch 86/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3233 - acc: 0.8661
Epoch 87/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3237 - acc: 0.8671
Epoch 88/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3233 - acc: 0.8661
Epoch 89/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3239 - acc: 0.8669
Epoch 90/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3237 - acc: 0.8657
Epoch 91/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3236 - acc: 0.8684
Epoch 92/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3233 - acc: 0.8680
Epoch 93/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3238 - acc: 0.8670
Epoch 94/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3231 - acc: 0.8672
Epoch 95/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3227 - acc: 0.8675
Epoch 96/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3234 - acc: 0.8690
Epoch 97/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3231 - acc: 0.8681
Epoch 98/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3229 - acc: 0.8671
Epoch 99/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3228 - acc: 0.8672
Epoch 100/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3231 - acc: 0.8679

In [0]:
ypred = classifier.predict(X_test)

In [0]:
ypred = ypred>0.5

In [64]:
from sklearn.metrics import confusion_matrix, classification_report
confusion_matrix(y_test, ypred)

array([[1522,   72],
       [ 226,  180]])